html, body {
	width: 100%;
	height: 100%;
}

html, body, p {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	display: inline-block;
	font-size: 25px;
	font-family: roboto;
	text-decoration: none;
}

h1 a{
	height: auto;
	font-family: roboto;
	font-weight: bold;
	font-size: 50px;
	color: #FDCB46;
}

h1 a:hover {
	color: #dcb03b;
	transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
}

h2 {
	font-family: 'Zhi Mang Xing', cursive;
	text-align: center;
	font-size: 30px;
	margin-top: 70px;
	letter-spacing: 2px;
}


body {
    display: flex;
    flex-direction: column;
}

header {
	display: flex;
	height: 80px;
	justify-content: center;
	align-items: center;
	background: #579c87;
	box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.wrapper {
	flex: 1;
	overflow-y: auto;
	flex-direction: column;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-top: 45px;
	padding-bottom: 20px;

}

.wrapper-menu {
	flex: 1;
	overflow-y: auto;
	flex-direction: column;
	display: flex;
	justify-content: center !important;
	align-items: center;
}

.legale {
	padding: 20px 100px;
	overflow-y: auto;
	flex: 1;
	font-family: 'roboto', sans-serif;
}

.legale p {
	text-align: justify;
}

.legale p:first-child {
	text-align: center;
}

.legale a {
	font-size: 16px;
}

#menu-1 { background-color: #fcdfdb; }
#menu-2 { background-color: #FFF5FE; }
#menu-3 { background-color: #edefef; }
#menu-4 { background-color: rgb(255, 255, 255); }

.carte {
	padding: 45px 60px;
	width: 600px;
	text-align: center;
	box-sizing: border-box;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

.carte > i {
	font-size: 3.5em;
}

.carte li {
	margin-bottom: 20px;
	text-align: left;
}

.carte ul {
	list-style: none;
	padding: 0;
}

.carte span {
	float: right;
}
.carte h2 {
	margin-top: 10px;
	font-family: 'Zhi Mang Xing', cursive;
	color: #3C1218;
}

#menus {
	display: grid;
    grid-template-columns: repeat(2, 2fr);
	grid-gap: 100px;
	margin-bottom: 20px;
}

#menu-1 li {
	color: #3C1218;
}

.menu {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 400px;
	padding: 5px 20px;
	text-align: center;
	border-radius: 4px;
	box-shadow: -6px -6px 20px rgba(0,0,0,0.1),				6px 6px 20px rgba(0,0,0,.2);
	transition: transform .3s;
	-webkit-transition: transform .3s;
	-moz-transition: transform .3s;
	-ms-transition: transform .3s;
	-o-transition: transform .3s;
}

.title {
	display: flex;
	align-items: center;
	font-size: 1.5em;
	margin-top: 60px;
}

.title-1 {
	color: #3C1218;
}

.title::before,
.title::after {
	content: "";
	flex-grow: 1;
    background-color: #3C1218;
    height: 3px;
}

.title::before { margin-right: 40px; }
.title::after { margin-left: 40px; }

.fin i {
	margin-right: 20px;
}

.fin {
	margin-top: 40px !important;
}

.effet {
    background: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

.effet:hover, a:focus {
    background-size: 100% 2px;
}
/* formulaire */
form {
	width: 30%;
	font-family: roboto;
	
}

.input-field {
	position: relative;
	margin-top: 50px;
}

.input-field input,
.input-field textarea {
	width: 100%;
	box-sizing: border-box;
	background: transparent;
	border: none;
	outline: none;
	border-bottom: 2px solid #999;
	font-size: 16px;
	resize: none;
}

.input-field label {
	position: absolute;
	top: 0;
	left: 0;
	color: #FDCB46;
	pointer-events: none;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
}

.input-field input:focus + label, 
.input-field textarea:focus + label,
.input-field input:valid + label, 
.input-field textarea:valid + label {
	top: -25px;
	padding: 2px 5px;
	background: #579c87;
	color: #FDCB46;
	font-size: 16px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
}


/* paragrphe color  */
.p-1 h2 {
	background-image: linear-gradient(to right, #d8852e, #f6604b, #ff367e, #e633be, #905bfd); 
						-webkit-text-fill-color: transparent;
						-webkit-background-clip: text; 
}
.p-1 ul {
	color: #c67412;
}
.p-1 .title::before {
	background-color: #c67412;
}
.p-1 .title::after {
	background-color: #c67412;
}
.p-2 ul{
	color: #a56799;
}
.p-2 .title::before {
	background-color: #a56799;
}
.p-2 .title::after {
	background-color: #a56799;
}
.p-3 ul {
	color: #6e4ccc;
}
.p-3 .title::before {
	background-color: #6e4ccc;
}
.p-3 .title::after {
	background-color: #6e4ccc;
}
.p-4, .p-5, .p-6 p {
	color: black;
}
.p-4 h2 {
	background-image: linear-gradient(to right, #305ee7, #2569ed, #1973f2, #0e7df7, #0887fb); -webkit-text-fill-color: transparent;
    					-webkit-background-clip: text;
}
.p-4 .title::before {
	background-color: #0228dd;
}
.p-4 .title::after {
	background-color: #0228dd;
}	
.p-5 .title::before {
	background-color: #0670f3;
}
.p-5 .title::after {
	background-color: #0670f3;
}	
.p-6 .title::before {
	background-color: #229df9;
}
.p-6 .title::after {
	background-color: #229df9;
}
.p-7 h2 {
	background-image: linear-gradient(to right, #42973c, #61b04c, #7fca5c, #9fe46d, #bfff7e); -webkit-text-fill-color: transparent;
    					-webkit-background-clip: text;
}
.p-7 .title::before {
	background: linear-gradient(to right, #42973c, #bfff7e);
}
.p-7 .title::after {
	background: linear-gradient(to right, #bfff7e, #42973c);
}		
.p-8 .title::before {
	background: linear-gradient(to right, #42973c, #bfff7e);
}
.p-8 .title::after {
	background: linear-gradient(to right, #bfff7e, #42973c);
}		
.p-9 .title::before {
	background: linear-gradient(to right, #42973c, #bfff7e);
}
.p-9 .title::after {
	background: linear-gradient(to right, #bfff7e, #42973c);
}


/* menu color */
.menu:nth-child(1) { background: #fcdfdb; }
.menu:nth-child(2) { background: #FFF5FE; }
.menu:nth-child(3) { background: #F9F9F9; }
.menu:nth-child(4) { background: #FDFFFD; }

.menu:hover > *{
	opacity: .7;
	transform: scale(1.15);
	-webkit-transform: scale(1.15);
	-moz-transform: scale(1.15);
	-ms-transform: scale(1.15);
	-o-transform: scale(1.15);
	transition: 1s;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	-ms-transition: 1s;
	-o-transition: 1s;
}

/* link color */
.menu:nth-child(1) span { color: #3C1218; }
.menu:nth-child(2) span { color: #C77412; }
.menu:nth-child(3) span { color: #0887FB; }
.menu:nth-child(4) span { color: #72BF56; }

/* h2 color */
.menu:nth-child(1) h2{ color: #3C1218; }
.menu:nth-child(2) h2{ background-image: linear-gradient(to right, #d8852e, #f6604b, #ff367e, #e633be, #905bfd); -webkit-text-fill-color: transparent;
    					-webkit-background-clip: text; }
.menu:nth-child(3) h2{ background-image: linear-gradient(to right, #305ee7, #2569ed, #1973f2, #0e7df7, #0887fb); -webkit-text-fill-color: transparent;
    					-webkit-background-clip: text;}
.menu:nth-child(4) h2{ background-image: linear-gradient(to right, #42973c, #61b04c, #7fca5c, #9fe46d, #bfff7e); -webkit-text-fill-color: transparent;
    					-webkit-background-clip: text;}

.menu h2{
	margin-top: 10px;
}


.fa, .fas {
    font-weight: 900;
    font-size: xx-large;
    background: linear-gradient(to right, #f15861, #f36761, #f57563, #f68266, #f78f6a);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.btn {
	margin: auto;
	padding: 9px 20px;
	border-radius: 3px;
	background-color: #579c87;
	transition: background-color .2s;
}

.btn:hover{
	background-color: rgba(87, 156, 135, .9);
}

#wave {
	display: inline-block;
	 }

.dot {
	display: inline-block;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background: #FDCB46;
}


.btn a {
	color: #FDCB46;
}

.btn:hover .dot:nth-child(1){
	animation: wave 1.3s linear infinite;
	-webkit-animation: wave 1.3s linear infinite;
	animation-delay: -1.4s;
	
}
.btn:hover .dot:nth-child(2){
	animation: wave 1.3s linear infinite;
	-webkit-animation: wave 1.3s linear infinite;
	animation-delay: -1.1s;
	
}

.btn:hover .dot:nth-child(3){
	animation: wave 1.3s linear infinite;
	-webkit-animation: wave 1.3s linear infinite;
	animation-delay: -0.9s;
}

footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 80px;
	background: #579c87;
	transition: transform .2s;
	box-shadow: 0 -3px 5px rgba(57, 63, 72, 0.3);
}

footer a:nth-child(1) {
	
	margin-left: 40px;
	color: #FDCB46;
}

footer a:nth-child(2) {
	
	margin-right: 40px;
	color: #FDCB46;
}

footer a:hover {
	animation: shake .5s;
	-webkit-animation: shake .5s;
}

/* annimation */

@keyframes wave {
	0%, 60%, 100% {
		transform: initial;
		-webkit-transform: initial;
		-moz-transform: initial;
		-ms-transform: initial;
		-o-transform: initial;
}

	30% {
		transform: translateY(-10px);
		-webkit-transform: translateY(-10px);
		-moz-transform: translateY(-10px);
		-ms-transform: translateY(-10px);
		-o-transform: translateY(-10px);
 }
}

@keyframes shake {
	0% { transform: translate(1px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(3px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(3px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(1px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

/* Media queries */ 

@media screen and ( max-height: 1080px) {
	.wrapper {
		justify-content: flex-start !important;
	}
}

@media screen and (max-width: 700px) {

	header a {
		font-size: 35px;
	}

	.carte {
		width: 90%;
		padding: 45px 30px;
	}

	.carte li {
		text-align: center;
	}

	.carte li span {
		float: inherit;
		display: block;
		font-size: 20px;
		font-weight: 700;
	}

	.title::after {
		margin-left: 20px;
	}

	.title::before {
		margin-right: 20px;
	}

	#menus {
		grid-template-columns: repeat(1, 2fr);
	}

	.wrapper {
		justify-content: flex-start !important;
	}


	footer a{
		font-size: 1.2em;
	}

	footer a:nth-child(1) {
		margin-left: 10px;
		height: auto;
	}

	footer a:nth-child(2) {
		margin-right: 10px;
		height: auto;
	}

	.legale {
		padding: 20px 20px;
	}

	
} 