*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*border: 1px solid red;*/
}
      /*header*/
.container header{
	
	background: #579c87;
	text-align: center;
	height: 140px;

}

.container header h1{
	
	color: #fdcb46;
	padding-top: 40px;
}

.container-menu{
	height: 964px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	

}

.menu-1{
	background: #fcdfdb;
    height: 400px;
    width: 300px;
    margin-top: 50px;
    order: 1;
	text-align: center;
	border-radius: 40px;
	box-shadow: -6px -6px 20px rgba(0,0,0,0.1),
				6px 6px 20px rgba(0,0,0,.2);
}

.menu-1:hover{
	font-size: 120%;
	box-shadow: inset -6px -6px 10px rgba(0,0,0,.1),
				inset 6px 6px 20px rgba(0,0,0,.1);
}



.container-menu .menu-1 p a{
	display: inline-block;
	width: 100px;
	height: 30px;
	padding-top: 5px;
	border-radius: 40px;
	color: red;
	box-shadow: -4px -4px 15px rgba(255,255,255,.1),
				4px 4px 15px rgba(0,0,0,.2);
}

.container-menu .menu-1 p a:hover{
	box-shadow: inset -4px -4px 10px rgba(255,255,255,.1),
				inset 4px 4px 10px rgba(0,0,0,0.05);
}

.menu-2{
	background: #fff5fe;
    height: 400px;
    width: 300px;
    margin-top: 50px;
    order: 3;
	text-align: center;
	border-radius: 40px;
	box-shadow: -6px -6px 20px rgba(0,0,0,0.1),
				6px 6px 20px rgba(0,0,0,.1);
}

.menu-2:hover{
	box-shadow: inset -6px -6px 10px rgba(0,0,0,.1),
				inset 6px 6px 20px rgba(0,0,0,.1);
}

.container-menu .menu-2 p a{
	display: inline-block;
	width: 100px;
	height: 30px;
	padding-top: 5px;
	border-radius: 40px;
	color: red;
	box-shadow: -4px -4px 15px rgba(0,0,0,.1),
				4px 4px 15px rgba(0,0,0,.2);
}

.container-menu .menu-2 p a:hover{
	box-shadow: inset -4px -4px 10px rgba(0,0,0,.1),
				inset 4px 4px 10px rgba(0,0,0,0.05);
}


.menu-3{
	background: #f9f9f9;
    height: 400px;
    width: 300px;
    margin-top: 50px;
    order: 2;
	text-align: center;
	border-radius: 40px;
	box-shadow: -6px -6px 20px rgba(0,0,0,0.1),
				6px 6px 20px rgba(0,0,0,.1);
}

.menu-3:hover{
	box-shadow: inset -6px -6px 10px rgba(0,0,0,.1),
				inset 6px 6px 20px rgba(0,0,0,.1);
}

.container-menu .menu-3 p a{
	display: inline-block;
	width: 100px;
	height: 30px;
	padding-top: 5px;
	border-radius: 40px;
	color: red;
	box-shadow: -4px -4px 15px rgba(0,0,0,0.1),
				4px 4px 15px rgba(0,0,0,.2);
}

.container-menu .menu-3 p a:hover{
	box-shadow: inset -4px -4px 10px rgba(0,0,0,.1),
				inset 4px 4px 10px rgba(0,0,0,0.1);
}

.menu-4{
	background: #fdfffd;
    height: 400px;
    width: 300px;
    margin-top: 50px;
    order: 3;
    text-align: center;
    border-radius: 40px;
    box-shadow: -6px -6px 20px rgba(0,0,0,0.1),
				6px 6px 20px rgba(0,0,0,.1);
}

.menu-4:hover{
	box-shadow: inset -6px -6px 10px rgba(0,0,0,.1),
				inset 6px 6px 20px rgba(0,0,0,.1);
}

.container-menu .menu-4 p a{
	display: inline-block;
	width: 100px;
	height: 30px;
	padding-top: 5px;
	border-radius: 40px;
	color: red;
	box-shadow: -4px -4px 15px rgba(255,255,255,.1),
				4px 4px 15px rgba(0,0,0,.2);
}

.container-menu .menu-4 p a:hover{
	box-shadow: inset -4px -4px 10px rgba(255,255,255,.1),
				inset 4px 4px 10px rgba(0,0,0,0.05);
}

h2{
	margin-top: 150px;
}

p{
	margin-top: 60px;
}

		/*bouton*/
button{
	width: 260px;
	height: 45px;
	display: flex;
	margin-bottom: 40px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 78px;
	border-radius: 10px;
	background-color: #579c87;
	box-shadow: 0px 0px 10px 4px rgba(0,0,0,.2),
	    		6px 6px 20px rgba(0,0,0,.2);
}

button:hover{
	box-shadow: inset 0px 0px 10px 4px rgba(0,0,0,.2),
	    		inset 6px 6px 20px rgba(0,0,0,.2);
}

a{
	text-decoration: none;
	text-transform: uppercase;
}



       /*footer*/
    

footer{
	background: #579c87;
	height: 140px;
}
